body{
    font-family: 'PT Sans';
    font-size: 0.95em;
}

/* TITOLS */

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3,
h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

/*  TEXT */

form{
    font-size: 1em;
}

button{
    font-size: 1.1em;
}